:root {
    --gray: #8C8C8C;
    --black: #191919;
    /* --orange:#FF6600;
    --orange:#FF6600; */
    --orange: #FF6600;
    --red: #f60909;
}

body {
    background-color: #f9f5f5;
    color: #191919;
    /* background-color: #191919;
    background-color: var(--black); */
    font-family: 'Nunito', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, monospace;
    /* color: #8C8C8C !important; */
}

.service-item .service-item__icon {
    width: 4rem;
    line-height: 1;
    margin-bottom: 20px;
}

.top-pane {
    color: #8C8C8C;
    text-decoration: none;
}
a{
    color: #8C8C8C;
}

a:hover {
    color: #FE0000;
    text-decoration: none;
}

.dark-gh {
    background-color: #f9f5f5;
    /* background-color: #191919; */
}

.orange-gh {
    /* background-color: #FF6600; */
    background-color: #e90a0a;
}

.head-color {
    text-decoration: none;
    /* color: #FF6600; */
    color: #FE0000;
}

.head-color-dark {
    color: #f1eaea;
}

.dark-text {
    color: #191919;
}

.head-outline {
    border: 1px;
    border-color: #FE0000;
}
